  {
    "presets": [
      [ "env", {
        "targets": {
          "node": "current"
        }
      }],
      "react"
    ],
    "plugins": [
      "transform-object-rest-spread"
    ],
    "only": [
      "src",
      "test"
    ],
    "ignore": [
      "node_modules"
    ]
}
